footer {
    background: $footer-color;
    padding: 100px 0;
    color: white;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 50px;

        &.social {

            li {
                float: left;

                a {

                    margin: 10px 5px;
                    color: white;
                    padding: 18px 20px;
                    border-radius: 100%;
                    background: #2D333B;

                }

                &:first-of-type {
                    a {

                        margin-left: 0;
                        padding: 18px 23px;
                    }

                }
            }
        }

        li {
            margin: 10px 0;

            a {
                color: #63676E;
                text-decoration: none !important;


                p {
                    margin-left: 20px !important;
                    display: inline-block;
                }
            }

        }
    }

    .copyright {
        margin-top: 50px;
    }
}